export(deepRV)
export(deeprv_brm)
export(load_deeprv)
export(load_deeprv_kron)
export(posterior_epred)
export(posterior_eta_draws)
export(posterior_predict)
export(prior_uniform)
importFrom(rstantools,posterior_epred)
importFrom(rstantools,posterior_predict)
S3method(posterior_epred,deeprv_fit)
S3method(posterior_predict,deeprv_fit)
S3method(print,deepRV_call)
S3method(print,deepRV_decoder)
S3method(print,deepRV_decoder_kron)
S3method(print,deepRV_prior)
S3method(print,deeprv_fit)
