export(deepRV)
export(deeprv_brm)
export(load_deeprv)
export(load_deeprv_kron)
export(prior_uniform)
S3method(print, deepRV_call)
S3method(print, deepRV_decoder)
S3method(print, deepRV_decoder_kron)
S3method(print, deepRV_prior)
S3method(print, deeprv_fit)
